* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* ---------HEADER---------- */


.header {

    border-bottom: 1px solid #E7E9FC;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo .active {
    color: #2e2f42;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: auto;
}

.header-menu-item {
    padding-top: 24px;
    padding-bottom: 24px;
}


.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-contacts {
    margin-left: auto;
}

.header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}



/* ---------HERO---------- */



.main-hero {
    background-color: #2e2f42;
}

.main-hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    max-width: 496px;
    margin: 68px auto 48px;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    margin: 0 auto 48px;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}



/* ---------MISSION---------- */




.mission-list {
    display: flex;
    gap: 24px;
}

.mission-item {
    width: calc((100% - 24px) / 4);
}

.mission-title {
    color: #2e2f42;
}

.mission-subtitle {
    color: #2e2f42;
    padding-bottom: 8px;
}

.mission-text {
    color: #434455;
}


/* ---------TEAM---------- */


.team {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.team-images {
    margin-bottom: 32px;
}

.team-title {
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}

.team-subtitle {
    text-align: center;
    color: #2e2f42;
    padding-bottom: 8px;
}

.team-text {
    color: #434455;
    text-align: center;
    padding-bottom: 32px;
}


/* ---------PORTFOLIO---------- */

.portfolio-title {
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    border-bottom: 1px solid #E7E9FC;
    width: calc((100% - 2 * 24px) /3);
}

.portfolio-subtitle {
    color: #2e2f42;
    padding-top: 32px;
    padding-bottom: 8px;
}


.portfolio-text {
    color: #434455;
    padding-bottom: 32px;
}


/* ---------FOOTER---------- */


.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 101px;
}

.footer-link {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.footer-link .active {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    padding-top: 15px;
    max-width: 264px;
}